<%include ../partials/header.ejs%>

<div class="container">
    <div class="jumbotron">
       <div class="container">
          <h1>Edit The  Hotel-<%= hotel.name%></h1>
        </div>
    </div>
    <form action="/hotels/<%= hotel._id %>?_method=PUT" method="POST">
        <div class="form-group">
             <input class="form-control"value="<%=hotel.name%>" type="text" name="name" placeholder="name">
            
        </div>
       
        <div class="form-group">
            <input class="form-control"value="<%= hotel.image %>" type="text" name="image" placeholder="image">
        </div>
         <div class="form-group">
            <input class="form-control"value="<%= hotel.price %>" type="number" name="price" placeholder="price" min=250 step="50">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input class="form-control" type="text" name="location" id="location" value="<%= hotel.location %>">
        </div>
        <div class="form-group">
             <textarea class="form-control"  name="description" > <%= hotel.description%></textarea>
        </div>
       
        <div>
            <button cls="btn btn-lg btn-primary btn-block">Create</button>
        </div>
        
        
    </form>






<%include ../partials/footer.ejs%>
