<%include partials/header.ejs%>
<div class="container">
     
   
   <div class="row">
      <br>
     <%if(found.cart.length>0){%> 
        <table class=" table table-bordered col-md-6 col-lg-8 col-xs-12 " >
            <thead>
                <tr>
                    <th>S.no.</th>
                    <th>item</th>
                    <th>price/day</th>
                </tr>
            </thead>
           <tbody  >
               <%var number=1,total=0;%>
               <%found.cart.forEach(function(incart){%>  
                  
                  <tr>
                    <td><%=number++%></td>  
                
                     <td><%=incart.item%></td>
                      <td><%=incart.price%></td>
                    <form action="/cart/<%=incart._id%>/delete" method="POST">
                       <td>
                           <button class="fa fa-times" aria-hidden="true"></button>

                       </td> 
                    </form>
                     
                     <%total=total+Number(incart.price)%>
                  </tr>
                  
               <% })%>
                   <tr>
                      <td><strong>Total-</strong><%=total%></td>
                      
                  </tr>
           </tbody>
        </table>
          

</h1>
          
      
   </div>
   <% } else{%>
       <h2 class="alert alert-danger">Your cart is empty</h2>
  <% }%>
   
</div>
 

<%include partials/footer.ejs%>